html, * {
    box-sizing: border-box;
}

html, body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

a {
    font-size: 24px;
    color: purple;
    text-decoration:underline;
    text-decoration-style: dotted;
}

h1 {
    color: purple;
}

header {
    border: solid purple 10px;
    text-align: center;
    background-color: grey;
    position: sticky;
    height: 150px;
    width: 100%;
    margin: 0;
    top: 0;
}

main {
    margin-top: 160px;
}

p {
    color: blue
}

.raichu {
    width: 200px;
    height: 200px;
}

.boxart {
    width: 200px;
    height: 200px;
}

.gameboy {
    width: 200px;
    height: 200px;
}